/* Estilo para a seção QUEM SOMOS */
.historia {
   background-color: #f9f9f9; /* Fundo suave */
   padding: 50px 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-bottom: 40px;
}

.historia h2 {
   text-align: center;
   color: #333;
   font-size: 2.5em;
   margin-bottom: 20px;
}

.historia p {
   color: #555;
   line-height: 1.8;
   font-size: 1.1em;
   margin-bottom: 20px;
}

.historia h3 {
   color: #333;
   margin-top: 30px;
   font-size: 1.8em;
}

/* Estilo para os asides */
.historia aside {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 30px;
   gap: 20px;
}

.historia aside img {
   flex: 1;
   max-width: 460px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.historia aside p {
   flex: 2;
   padding: 10px;
   text-align: justify;
}

/* Estilo para imagens na .historia */
.historia img {
   width: 100%;
   height: auto;
   border-radius: 10px;
}

/* RESPONSIVIDADE */
@media (max-width: 850px) {

   .historia aside {
      flex-direction: column-reverse;
   }
   .historia aside img {
      max-width: 100%;
   }
}